*{
	margin:0px;
	padding: 0px;
}

body{
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 20px;
	color:black;
}
.navbar-nav{
	/*float: right;*/
	margin-top: 0px;

}
li a{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
	margin-top: 0px;
}

.nav-item{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
	font-family: 'Lemonada', cursive;
	margin-left: 40px;
}

.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row{
	max-width: 1180px;
	margin: 0 auto;
}
.logo{
	text-align: right;
	height: 50%;
	width: 	50%;
	/*float: left;*/
	margin-top: 30%;
	margin-left: 85%;
	border-radius: 50px;

}


.main-content-header{
	width: 1180px;
	position: absolute;
	top: 70%;
	left: 10%;
	font-family: 'Lemonada', cursive;
	font-weight: lighter;
}

h1{
	color:black;
	font-size: 240%;
	word-spacing: 5px;
}

@media only screen and (max-width: 1180px){
	.main-content-header{
		width: 100%;
		padding: 0 2%;
	}
}
@media only screen and (max-width: 998px){
	h1{
		font-size: 200%;
	}
}

