img{
	display: inline-block;
	float: left;
	padding-left: 20%;

}
#classes{
	
	margin-top: 30px;
	margin-bottom: 30px;

}
#floor{
	width: 50%;
	height: 200px;
	padding-top: 20%
	padding-left:20%;
	margin-top: 30px;
}
#events{
	padding-top: 10%;
}
h1{
	color:red;
	text-transform: uppercase;
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	letter-spacing: 2px;
}
p{
	font-family: 'Indie Flower', cursive;
	word-spacing: 5px;
}